.container {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed";
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.score {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.pick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.pick > h2 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

.outerCircle {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  box-shadow: inset 0px -5px 0px 0px rgba(12, 18, 44, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.innerCircle {
  background-color: white;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  box-shadow: inset 0px 5px 0px 0px rgba(12, 18, 44, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winnerText {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

.playAgain {
  width: 100%;
  font-family: 'Barlow Semi Condensed';
  padding: 10px 30px;
  font-size: 16px;
  color: hsl(229, 25%, 31%);
  background-color: white;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
}

.playAgain:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.blue {
  top: 70px;
  left: 20px;
  background: linear-gradient(90deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.yellow {
  top: 70px;
  left: 80px;
  background: linear-gradient(90deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.red {
  top: 230px;
  right: 110px;
  background: linear-gradient(90deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
